
body {
    margin: 0 auto;
    max-width: 50em;
    padding: 0 5em;
    font-family: 'Times New Roman', serif;
    font-size: 1.2em;
}

h1, h2 {
    margin: 2em auto;
    text-align: center;
    text-transform: uppercase;
}

img {
    width: 100%;
}