
body {
    margin: 0 auto;
    max-width: 50em;
    padding: 0 5em;
    font-family: 'Times New Roman', serif;
    font-size: 1.2em;
}

h1, h2 {
    font-size: revert;
    text-align: center;
}

h1 {
    margin: 2em auto;
}

h2 {
    font-size: 1.3em;
    margin: 1.5em auto;
}

h2 {
    text-transform: uppercase;
}

img {
    width: 100%;
}

figcaption {
    margin-top: 0.2em;
}