body {
    margin-left: 20rem;
    margin-right: 20rem;
    font-family: sans-serif;
    color: hsl(0, 0%, 95%);
    background: hsl(0, 0%, 5%);
}

h1 {
    margin-top: 5rem;
    font-family: "Noto Serif";
}

h2 {
    margin-top: 2.5rem;
    font-family: "Noto Serif";
}