body {
    margin: 5em 20em 0 20em;
    font-family: sans-serif;
}

h1, h2 {
    font-family: serif;
}

img {
    width: 100%;
}

figcaption {
    margin-top: 0.5em;
}

.break {
    margin-top: 5em;
}