@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4");

body {
    margin-left: 20rem;
    margin-right: 20rem;
    font-family: "Source Serif 4";
    color: hsl(0, 0%, 95%);
    background: hsl(0, 0%, 5%);
}

h1 {
    margin-top: 5rem;
    font-weight: normal;
}

h2 {
    margin-top: 2.5rem;
    font-weight: normal;
}

img {
    width: 100%;
}

figurecaption {
    margin-top: 0.5rem;
}