@import url('https://fonts.googleapis.com/css2?family=Times+New+Roman&display=swap');
@import url('https://use.typekit.net/xhl1gbp.css');

body {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 50rem;
    font-size: 1.2rem;
    font-family: 'Times New Roman';
}

h1 {
    margin: 7rem auto;
    text-align: center;
    font-family: 'myriad-pro';
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: 'myriad-pro';
}

img {
    width: 100%;
}

figcaption {
    margin-top: 0.2rem;
}

.break {
    margin-top: 5rem;
}