body {
    margin: 5em 20em 0 20em;
    font-family: sans-serif;
}

h1, h2 {
    margin-top: 1.5em;
    font-family: serif;
    font-weight: normal;
}

img {
    width: 100%;
}

figcaption {
    margin-top: .5em;
}

.break {
    margin-top: 5em;
}