@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4");

body {
    margin: 5em 20em 0 20em;
    font-family: "Source Serif 4";
}

h1 {
    font-weight: normal;
}

h2 {
    font-weight: normal;
}

img {
    width: 100%;
}

figcaption {
    margin-top: 0.5em;
}

.break {
    margin-top: 5em;
}