@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4");

body {
    margin-left: 20rem;
    margin-right: 20rem;
    font-family: sans-serif;
    color: hsl(0, 0%, 95%);
    background: hsl(0, 0%, 5%);
}

h1 {
    margin-top: 5rem;
    font-family: "Source Serif 4";
}

h2 {
    margin-top: 2.5rem;
    font-family: "Source Serif 4";
    font-weight: normal;
}